.leSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0px;
    overflow: hidden;
    position: relative;

    object-fit: content;

    background-color: lightblue;
}