
  .scroll {
    position: relative;
    display: flex;
    align-items: center;
    max-width: 80%;
    overflow: hidden;
    mask-image: linear-gradient(to left, transparent, black 80px, black calc(100% - 80px), transparent);
    // -webkit-mask-image: linear-gradient(90deg, transparent, #e3daf2 20%, #e3daf2 80%, transparent)
  }
  
  .scroll div {
    white-space: nowrap;
    animation: scroll var(--time) linear infinite;
    animation-delay: calc(var(--time)*-1);
  
  }
  
  .scroll div:nth-child(2) {
    animation: scroll2 var(--time) linear infinite;
    animation-delay: calc(var(--time)/-2);
  }
  
  @keyframes scroll {
    0% {
        transform: translateX(100%);
    }
  
    100% {
        transform: translateX(-100%);
    }
  }
  
  @keyframes scroll2 {
    0% {
        transform: translateX(0);
    }
  
    100% {
        transform: translateX(-200%);
    }
  }
  :root {
    --time: 60s;
  }
  
  .scroll div span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    letter-spacing: 0.2em;
    background: #1094b6;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    border-radius: 25px;
    transition: 0.5s;
    margin: 10px;
  }
  
  .scroll div .scrollBNB {
  background-color: #d7a60a;
  }
  .scroll div .scrollBase {
    background-color: #6991e5;
  }
  
  .scroll div .scrollLinea {
    background-color: #74c2d2;
  }
  
  .scroll div .scrollZksync {
    background-color: #686ea7;
  }
  
  .scroll div .scrollArbitrum {
    background-color: #6e89ae;
  }
  
  .scroll div .scrollAptos {
    background-color: #17ba92;
  }
  
  .scroll div .scrollEthereum {
    background-color: #627ad8;
  }
  
  .scroll div .scrollPolygon {
    background-color: #ad73de;
  }
  
  .imgBox div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .imgBox img {
    max-width: 100px;
    scale: 0.8;
  }

  .scroll img {
    height: 20px;
    width: 20px;
    margin: 8px;
  }

  .scrollZksync img {
    width: 24px;
  }


  .titlesContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    // width: 100%;
    margin: 20px;
  }

  
  .numberscontainer {
    margin-bottom: var(--space-48px);
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 50px;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .numberscard {
    display: flex;
    justify-content: center;
    flex-direction: column;

    align-items: center;
    text-align: center; /* Center the text within the card */
  }
  
  .totaltitle {
    color: var(--colors-text99);
    font-size: var(--fontSizes-20px);
    font-weight: 600;
  }
  
  .totalnumbers {
    color: var(--colors-secondary);
    font-weight: 600;
    height: 44px;
    font-size: var(--fontSizes-40px);
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
  }
  .lastdays {
    color: var(--colors-textSubtle);
    font-weight: 600;
    font-size: var(--fontSizes-16px);
  }
  

  
.containerL {
    width: 100%;
    padding-top: var(--space-48px);
    padding-bottom: var(--space-48px);
    position: relative;
    flex-direction: column;
    align-items: center;
  }

  .shapingSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }

  .shapfuture {
    // height: 495px;
    width: 100%;
    display: flex;
    justify-content: center;
    // overflow-x: hidden;
  }
  
  .leftball {
    position: absolute;
    // height: 177px;
    width: 10vw;
    bottom: 164px;
    left: 20px;
  }

  .rightball {
    position: absolute;
    width: 8vw;
    bottom: 180px;
    right: 0px;
    z-index: 1;
  }
  
  .middleball {
    position: absolute;
    width: 6vw;
    // height: 103;
    top: 72px;
    right: 119px;
  }

  .rightball img {
    width: 100%;
    // height: 100%;
  }
  .leftball img {
    width: 100%;
    // height: 100%;
  }
  .middleball img {
    width: 100%;
    // height: 100%;
  }



@media (max-width: 768px){
  .leftball {
    display: none;
  }

  .rightball {
    display: none;
  }

  .middleball {
    display: none;
  }


}


@media (max-width: 426px) {
.scroll{
  max-width: 100%;
}
}