.shapingFutureDark,
.shapingFutureLight {
  overflow: visible;
  width: 100%;
  height: max-content;
}

.shapingFutureDark {
  background: linear-gradient(180deg, #09070c 22%, #201335 100%);
  background: -webkit-linear-gradient(top, #09070c 22%, #201335 100%);
}

.shapingFutureLight {
  background: linear-gradient(180deg, #fff 22%, #d7caec 100%);
  background: -webkit-linear-gradient(top, #fff 22%, #d7caec 100%);
}
