.container {
  height: 100%;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}

img {
  height: 100%;
  width: 100%;
}

.buttonCont {
  margin: 8px;
  display: flex;
  flex-direction: row;
  font-weight: 600;
  align-items: center;
}

.logo {
  width: 170px;
  height: 30px;
  margin: 8px;
}

.title,
.text {
  font-size: 24px;
  margin-left: 5px;
}

.bunny {
  position: absolute;
  right: 15%;
  bottom: 0;
  height: 257px;
  width: 235px;
}