.scroll {
    position: relative;
    display: flex;
    align-items: center;
    
    overflow: hidden;
    // -webkit-mask-image: linear-gradient(180deg, transparent, var(--colors-background) 20%, var(--colors-background) 80%, transparent);
    flex-direction: column;
    height: 230px;
    align-items: end;
    mask-image: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.856) 10px, rgba(0, 0, 0, 0.856) calc(100% - 10px), transparent);
  }

  .scroll div {
    white-space: nowrap;
    animation: scroll var(--time) linear infinite;
    animation-delay: calc(var(--time)*-1);
    display: flex;
    flex-direction: column;
  
  }

  .scroll div:nth-child(2) {
    animation: scroll2 var(--time) linear infinite;
    animation-delay: calc(var(--time)/-2);
  }

  .titleInfinite {
    position: relative;
  }

  .lineVertical {
    position: absolute;
    bottom: auto;
    top: 53px;
    right: -8px;
    height: 260px;
    width: 1px;
    background: var(--colors-secondary);
  }
  
  @keyframes scroll {
    0% {
        transform: translateY(100%);
    }
  
    100% {
        transform: translateY(-100%);
    }
  }
  
  @keyframes scroll2 {
    0% {
        transform: translateY(0);
    }
  
    100% {
        transform: translateY(-200%);
    }
  }
  :root {
    --time: 25s;
  }
  
  .scroll div span {
    display: inline-flex;
    align-items: center;

    margin: 10px;
    background: var(--colors-backgroundAlt);
    color: var(--colors-text);
    padding: 5px 10px;
    border-radius: 25px;
    transition: 0.5s;
    box-shadow: 0px 2px 0px 0px var(--colors-cardBorder);
    border: 1px solid var(--colors-cardBorder);
    margin: 10px;
  }
  

  .imgBox div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .imgBox img {
    max-width: 100px;
    scale: 0.8;
  }

  .scroll img {
    height: 20px;
    width: 20px;
    margin: 8px;
  }

  .scrollZksync img {
    width: 24px;
  }


  .subtitle32 {
    width: 100%;
    text-align: center;
    font-size: var(--fontSizes-32px);
  }
  
  .subtitle-32 > .titletop {
    color: var(--colors-text);
    font-size: 32px;
    font-weight: 600;
  }
  
  .titletop {
    color: var(--colors-text);
    font-size: 32px;
    font-weight: 600;
  }

  .subtitle32 > .secondtitle {
    color: var(--colors-text);
    font-size: 32px;
    margin-bottom: var(--space-48px);
    font-weight: 600;
  }
  
  .numberscontainer {
    margin-bottom: var(--space-48px);
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 50px;
    justify-content: center;
  }
  
  .numberscard {
    display: flex;
    justify-content: center;
    flex-direction: column;

    align-items: center;
    text-align: center; /* Center the text within the card */
  }
  
  .totaltitle {
    color: var(--colors-text);
    font-size: var(--fontSizes-20px);
    font-weight: 600;
  }
  
  .totalnumbers {
    color: var(--colors-secondary);
    font-weight: 600;
    height: 44px;
    font-size: var(--fontSizes-40px);
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
  }
  .lastdays {
    color: var(--colors-textSubtle);
    font-weight: 600;
    font-size: var(--fontSizes-16px);
  }
  

  
.containerL {
    width: auto;
    // padding-top: var(--space-48px);
    // padding-bottom: var(--space-18px);
    position: relative;
    display: flex;
    flex-direction: column;
    
    height: 450px;
    justify-content: end;
    }

  // .scroll {
  //   margin-left: 200px;    
  // }


.titleSlider{
 
    color: var(--colors-text);
    line-height: 1.5;
    text-align: end;
      margin-bottom: 20px;
      // margin-left: 200px;
      font-size: 25px;
      font-weight: 600;
  }

@media (max-width: 750px) {
  .lineVertical {
      display: none;
  }
}


  