.featured-news-container {
  height: 580px;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 46px;
  padding: 48px 16px;
  box-sizing: border-box;
  margin: 0px;
  max-width: 1400px;
}

.swiper-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.news-swiper {
  height: 390px;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
}

.news-swiper-slide {
  margin-right: 46px;
  min-width: 280px;
  max-width: 280px;
  width: auto;
  height: 387px;
  background: var(--colors-backgroundAlt);
  box-shadow: 0px 2px 0px 0px var(--colors-cardBorder);
  cursor: pointer;
  border-radius: 24px;
  overflow: hidden;
}

.prev {
  display: flex;
  align-items: center;
  margin-right: 8px;
}

.next {
  display: flex;
  align-items: center;
  margin-left: 8px;
}

.title-container {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.first-title,
.second-title {
  line-height: 1.5;
  font-weight: 600;
  text-align: center;
}

@media (max-width: 700px) {
  .featured-news-container {
    width: 100%;
  }
}
