.swiper {
    width: 20vw;
    height: 30vw;
  
  }
  
  .swiper-slide {
    display: flex;
    height: 100%;
  }

.swiper-button-next { 
    --swiper-navigation-size: 10px;
    background-color:   white;
    width: 25px;
    height: 25px;
    border-radius: 30px;
    --swiper-theme-color: rgb(46, 169, 226);
    font-weight: bold;
    margin-left: 20px;
    outline: 2px solid rgb(46, 169, 226); }

.swiper-button-prev { 
    --swiper-navigation-size: 10px;
    background-color:   white;
    width: 25px;
    height: 25px;
    border-radius: 30px;
    --swiper-theme-color: rgb(46, 169, 226);
    font-weight: bold;
    margin-left: 20px;
    outline: 2px solid rgb(46, 169, 226);
}