.featured-news-container {
    height: 570px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 46px;
    padding: 48px 0px;
  }

  .news-swiper {
    height: 390px;
    overflow: hidden;
  }
  
  .news-swiper-slide {
    margin-right: 46px;
    max-width: 283px;
  }
  
  .swiper-button-prev {
    --swiper-navigation-size: 10px;
    background-color: white;
    width: 25px;
    height: 25px;
    border-radius: 30px;
    --swiper-theme-color: rgb(46, 169, 226);
    font-weight: bold;
    outline: 2px solid rgb(46, 169, 226);
  }
  
  .swiper-button-next {
    --swiper-navigation-size: 10px;
    background-color: white;
    width: 25px;
    height: 25px;
    border-radius: 30px;
    --swiper-theme-color: rgb(46, 169, 226);
    font-weight: bold;
    outline: 2px solid rgb(46, 169, 226);
  }
  
  .title-container {
    display: flex;
    justify-content: center;
    gap: 8px;
  }
  
  .first-title {
    color: var(--colors-light-text);
    line-height: 1.5;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
  }
  
  .second-title {
    color: var(--colors-secondary);
    line-height: 1.5;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
  }