.container {
  display: flex;
  align-items: center;
  gap: 50px;
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .subtext{
    display: flex;
    gap: 5px;
  }
}
