.dropdownCont {
  display: none;
  background-color: var(--colors-backgroundAlt);
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 20;
  border-radius: 8px;
  position: fixed;
  bottom: 0;
  padding-top: 5px;
  height: 50px;
  border-top: 2px solid var (--colors-cardBorder);
  // left: 0;
}

.dropdownContent {
  position: fixed;
  bottom: 0;
  left: 0;
  margin-bottom: 50px;
  background-color: white;
  color: var(--colors-secondary);
  display: flex;
  flex-direction: column;
  border-radius: 10px 10px 0px 0px;
  font-family: Kanit, sans-serif;
  font-size: 16px;
  font-weight: 600;
  width: 100%;
}

.dropdownItem {
  color: #7645d9;
  margin: 15px;
  width: 100%;
  height: 100%;
  left: 0;
}
.icon {
  margin-left: 350px;
}

@media (max-width: 850px) {
  .dropdownCont {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px 0px 20px;
    // max-width: 100%;
    // gap: 20px;

  }
  .dropdownBtn {
    color: #7645d9;
    font-family: Kanit, sans-serif;
    font-size: 10px;
  }

  .dropdownContainer {
    font-family: Kanit, sans-serif;
    font-size: 100%;
    color: rgb(121, 134, 134);
    padding: 0px 10px;
  }
}

.dropdownBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;

  .title {
    color: #7645d9;
    font-family: Kanit, sans-serif;
    font-size: 10px;
    margin-bottom: 5px;
  }

  .moreText {
    color: #7645d9;
    font-family: Kanit, sans-serif;
    font-size: 10px;
    font-weight: 900;
    margin-bottom: 5px;
  }
}
