.dropdownCont {
  display: none;
  background-color: var(--colors-backgroundAlt);
  min-width: 500px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 20;
  border-radius: 8px;
  position: fixed;
  bottom: 0;
  padding-top: 5px;
  padding-right: 8px;
  padding-left: 8px;
  border-top: 1px solid var (--colors-cardBorder);
  
}

// .dropdownContentUp {
//   position: sticky;
//   transform: translateY(-200px);
//   z-index: 9999;

// }

@media (max-width: 850px) {
  .dropdownCont {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .dropdownContainer{
    font-family: Kanit, sans-serif;
    font-size: 100%;
    color: rgb(121,134,134);
  }
}
