.VerticalSliderSection{
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 0px 5px 40px 5px;
    
}

.lineLeft {
    position: absolute;
    background: var(--colors-secondary);
    width: 110px;
    height: 1px;
    left: 191px;
    top: 55%;
    z-index: -4;
  }
  
  .lineRight {
    position: absolute;
    background: var(--colors-secondary);
    width: 110px;
    height: 1px;
    right: 197px;
    top: 50%;
    z-index: -4;
  }
  
  @media (max-width: 750px) {
    .lineRight,
    .lineLeft {
      display: none;
    }
  }
  
  @media (max-width: 500px) {
    .separadorMobile {
      position: absolute;
      bottom: auto;
      top: 53px;
      left: 50%;
      right: 50%;
      height: 400px;
      width: 1px;
      background: var(--colors-secondary);
    }
    .VerticalSliderSection {
      gap: 20px;
    }
  }