.VerticalSliderSection{
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 0px 5px 40px 5px;
    
}

.lineLeft {
    position: absolute;
    background: var(--colors-secondary);
    width: 110px;
    height: 1px;
    left: 191px;
    top: 55%;
    z-index: 4;
  }

.lineLeft::before{
  content: "";
  position: absolute;
  background: var(--colors-secondary);
  width: 5px;
  height: 5px;
  border-radius: 3px;
}
  
  .lineRight {
    position: absolute;
    background: var(--colors-secondary);
    width: 110px;
    height: 1px;
    right: 197px;
    top: 37%;
    z-index: -4;
  }
  
  @media screen and (min-width: 968px){
    .lineLeft::before{
      inset: -2px 0px auto auto;
    }
  }
  @media screen and (min-width: 768px){
    .lineLeft::before{
      inset: -2px 0px auto auto;
    }
  }

  @media (max-width: 750px) {
    .lineRight,
    .lineLeft {
      display: none;
    }
  }
  
  @media (max-width: 500px) {
    .separadorMobile {
      position: absolute;
      bottom: auto;
      top: 53px;
      left: 50%;
      right: 50%;
      height: 400px;
      width: 1px;
      background: var(--colors-secondary);
    }
    .VerticalSliderSection {
      gap: 20px;
    }
  }