.modal {
  background: var(--colors-gradientCardHeader);

  .modalContent {
    background-color: #fff;
    padding: 20px;
    border-radius: 25px;
    width: 425px;
    height: 420px;
  }
}

.close {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  cursor: pointer;
}

.closeSVG {
  fill: var(--colors-primary);
  width: 30px;
}

.header {
  height: 74px;
  object-fit: cover;
  color: var(--colors-text);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.activate {
  width: auto;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.textContainer {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: 10px;
}

.modalTop {
  color: var(--colors-text);
  display: flex;
  flex-direction: row;
  // align-items: start;
  justify-content: space-between;

  height: 300px;
}
.modalBottom {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-around;
  height: 100px;
  color: var(--colors-text);
}
