
@keyframes comeForwardAndSpin {
  0%{
    transform: scale(0.5) rotateY(0deg) translateZ(0);
    opacity: 0.5;
  }
  100%{
    transform: scale(1) rotateY(360deg) translateZ(0);
    opacity: 1;
  }
  
}
.animating {
  animation: comeForwardAndSpin 2s  linear;
}
.imgSeparator {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 450px;
  max-height: 450px;
  overflow: visible;
}

.imgSeparatorDark {
  position: absolute;
  z-index: -1;
  width: 500px;
  height: 500px;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(151, 71, 255, 0.4) 0%,
    rgba(151, 71, 255, 0) 100%
  );
}

.imgSeparator img {
  width: 150%;
}

@media (max-width: 500px) {
  .imgSeparator,
  .imgSeparatorDark {
    display: none;
  }
}

@media (max-width: 800px) {
  .imgSeparatorDark {
  width: 400px;
  height: 400px;
  }
}