.imgSeparator{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 450px;
    max-height: 450px;
    overflow: hidden;
}

.imgSeparator img{
    width: 150%;
}

@media (max-width: 426px) {
    .imgSeparator{
        display: none;
    }
}