.footerBuyCake {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.imagePancake{
  
  width: 160px;
  height: 25px;
  margin-bottom: 20px;
  
}
.logoPrice{
  display: flex;
  flex-direction: row;

}