.footerTitle{
    color: var(--colors-secondary);
    font-weight: 600;
}

.footerItem {
    text-decoration: underline;
    color: var(--colors-white);
  

}

.footerList{
    display: flex;
    flex-direction: column;
}