.favoriteDex {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;

  gap: 10%;

  // width: 100%;
  height: auto;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textContainer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: start;
}
.separador {
  display: flex;
  flex-direction: row;
}

.subtext {
    display: block;
    margin:0;
}
.buttons {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;

  gap: 10px;

  width: 100%;
}

.imgContainer{
  display: flex;
  overflow: hidden;
}

.img {
  object-fit: cover;
}

@media (max-width:768px){
  .favoriteDex{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .imgContainer{
    width: 700px;
    height: 500px;
  }
}