.dropdownContainer {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  // gap: 10px;
  min-width: 50px;
  width: 100%;
  margin: 5px;

  border-radius: 16px;

  background-color: var(--colors-backgroundAlt);
  
  &:hover {
    background-color: var(--colors-tertiary);
  }
}

.dropdownBtn {
  display: block;
  padding: 0px 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--colors-textSubtle);
  font-size: 16px;
}

.dropdownContent {
  // display: none;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  width: 270px;
  background-color: var(--colors-backgroundAlt);
  border: 1px solid;
  border-color: var(--colors-cardBorder);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 8px 0;
  text-align: start;

  a {
    display: block;
    padding: 8px 0;
    color: #7b93af;
    text-decoration: none;
    transition: color 0.3s ease;
    padding-left: 10px;
    background-color: var(--colors-backgroundAlt2);
   
    &:hover {
      background-color: var(--colors-tertiary);
    }
  }
}


// [data-theme="light"] {
//   .dropdownContent  a {
//     &:hover {
//         background-color: var(--colors-backgroundAlt2);
//       }
//     }
// }

// [data-theme="dark"] {
//   .dropdownContent  a {
//     &:hover {
//         background-color: var(--colors-backgroundAlt2);
//       }
//     }
//   }

.visible {
  display: block;
}

.punto {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin: -7px;
}

.icon {
  position: absolute;
  right: 8px;
}

@media (max-width: 850px){
  .dropdownContainer{
    display: none;
  }
  .dropdownContent {
    width: 100%;
  }
}