.dropdown-container {
    position: relative;
    &.reverse {
      flex-direction: column-reverse;
    }
  }
  
  .dropdown-button {
    display: flex;
    padding: 10px;
    color: var(--colors-textSubtle);
    border: none;
    cursor: pointer;
    font-size: 12px;

  }
  .item {
    margin: 10px 0;
  }
  .dropdown-content {
    position: absolute;
    
    left: -20px;
    right: 0;
    background-color: var(--colors-backgroundAlt);
    color: #b8add2;
    z-index: 100;
    max-height: 200px;
    width: 100px;
    border-radius: 5px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
    &.reverse-content {
      top: -40px;
    }
    &:hover{background-color: var(--colors-tertiary);}
  }
  
  .dropdown-content .react-icons {
    margin-bottom: 10px;
  }
  
  .dropdown-content p {
    margin: 0;
  }
  
  .dropdown-content::-webkit-scrollbar {
    width: 8px;
  }
  
  .dropdown-content::-webkit-scrollbar-thumb {
    background-color: #ccc;
  }
  
  .dropdown-content::-webkit-scrollbar-track {
    background-color: #27262c;
  }

  .reverse-order {
    bottom: 100%;
  }