.dropdownCoinContainer {
    align-items: center;
    background-color: var(--colors-tertiary);
    box-shadow: rgba(0, 0, 0, 0.1) 0px -2px 0px inset;
    cursor: pointer;
    display: inline-flex;
    height: 32px;
    padding-right: 8px;
    position: relative;
    border-radius: 16px;
  }
  
  .dropdownCoinContent {
    width: 200px;
    background-color: #fff;
    text-align: center;
    padding: 10px;
    display: none;
    position: absolute;
    top: 100%;
    left: -40px;
    border-radius: 16px;
  }
  
  .dropdownCoinContainer:hover .dropdownCoinContent {
    display: block;
  }
  
  .activeButton {
    display: flex;
    align-items: center;
  }
  
  .buttonWithImage {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Align items to the start of the container */
    margin-bottom: 8px; /* Adjust spacing between buttons if needed */
  }
  
  .buttonImage {
    height: 32px;
    width: 32px;
    position: relative;
    left: -5px;
    border-radius: 50%;
  }