.pancakeLogo{
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoImage{
    // margin-top: 13px;
    width: 160px;
    height: 25px;
    // margin-right: 30px;
  }
  .iconResponsive{
    display: none;
  }
  @media (max-width: 768px){
    .logoImage{
      display: none;
    }
    .iconResponsive{
      display: block;
      // margin-top: 13px;
    }
}