.icono svg {
  color: var(--colors-textSubtle);
  width: 20px;
  height: 20px;
  display: flex;
  cursor: pointer;
}

.icono-adicional {
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 32px;
  background-color: var(--colors-backgroundAlt);
  width: 48px;
  height: 48px;
  background-color: #27262c;
  transition: background-color 0.25s ease-in-out 0s;
}

.icono-adicional svg {
  height: 18px;
  color: #1fc7d4;
  justify-self: center;
}

.icono-adicional:hover svg {
  color: #27262c;
  transition: 0.45s ease;
}

.icono-adicional:hover {
  background-color: #1fc7d4;
  transition: 0.45s ease;
}