.swiper-pagination {
  bottom: -5px!important;
}

.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0;
}

.swiper-pagination-bullet {
  width: 28px;
  height: 8px;
  border-radius: 0px;
}

.swiper-pagination-bullet-active {
  background: rgb(118, 69, 217);
}

.swiper-pagination-bullet:first-child {
  border-radius: 4px 0px 0px 4px;
}

.swiper-pagination-bullet:last-child {
  border-radius: 0px 4px 4px 0px;
}
