.button {
  display: flex;
  align-items: center;
  gap: 10px;

  padding: 12px 24px;
  border-radius: 16px;
  // height: 100%;
  font-family: inherit;
  font-size: 16px;

  letter-spacing: 0.03em;
  line-height: 1;
  z-index: 1;
  transition: 0.2s ease;

  cursor: pointer;

  &:hover {
    opacity: 0.65;
  }
}

.transparent {
  align-items: center;
  justify-content: center;
  display: inline-flex;
  font-family: inherit;

  color: var(--colors-primary);
  background-color: transparent;
  border: 3px solid var(--colors-primary);
}

.blue {
  background-color: #1fc7d4;
  color: var(--colors-invertedContrast);

  box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px inset;
}

.white {
  background-color: var(--colors-tertiary);
  color: #1fc7d4;
}

.learnWhite {
  background-color: white;
  color: #1fc7d4;
}

.small {
  font-size: 14px;
  padding: 7px 16px;
  gap: 4px
}

.textWhite{
  color: white
}

.learn {
  align-items: center;
  justify-content: center;
  display: inline-flex;
  font-family: inherit;

  color: var(--colors-primary);
  background-color: transparent;
  &:hover{
    text-decoration: underline;
  }
}

.connectWallet {
  border: 0px;
  box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px inset;
  font-weight: 600;
  letter-spacing: 0.03em;
  line-height: 1;
  outline: 0px;
  height: 32px;
  padding: 0px 16px;
}