.button {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 24px;
  outline: 0px;
  border-radius: 16px;
  font-family: inherit;
  font-size: 16px;
  letter-spacing: 0.03em;
  line-height: 1;
  opacity: 1;
  transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
  cursor: pointer;
  &:hover {
    opacity: 0.65;
  }
}

.transparent {
  background-color: transparent;
  border-color: #1fc7d4;
  box-shadow: none;
  color: #1fc7d4;
  border: 3px solid #1fc7d4;
}

.blue {
  background-color: #1fc7d4;
  color: var(--colors-light-invertedContrast);
  border: 0px;
  box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px inset;
}

.white {
  background-color: white;
  color: #1fc7d4;
  border: 0px;
}